#demo-simple-select-helper-label,#outlined-textarea{
  color: #3f51b5;
  background-color: #d5e7ff;
  
}
#demo-simple-select-helper{
  color: #3f51b5;
  background-color: #d5e7ff;
  }
  .text:hover{
    cursor: pointer;
color: red;
  }